@import "fontFakePearl.css";
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

/*@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
}*/

/*
theme colors
orange #f18a23 rgb(241, 138, 35)
blue #1d4a83 rgb(29, 74, 131)
*/

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    font-family: FakePearl, sans-serif;
    font-weight: 400;
    width: 100%;
}

.is-orange {
    color: #ffffff !important;
    background-color: #f18a23 !important;
}

.is-blue {
    color: #ffffff !important;
    background-color: #1d4a83 !important;
}

#toTop {
    height: 50px;
    width: 50px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(241, 138, 35, 0.65);
    cursor: pointer;
    border-radius: 50%;
    font-size: 2rem;
    box-shadow: 0 5px 20px rgba(241, 138, 35, 0.3);
}

#toTop a {
    color: white;
}

#toTop:hover {
    background-color: rgb(241, 138, 35);
}

.hero {
    background: linear-gradient(rgba(29, 74, 131, 0.65), rgba(241, 138, 35, 0.65)), rgba(0, 0, 0, 0) url("../img/banner_bg.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.hero .title {
    font-family: 'Kaushan Script', sans-serif;
    transform: rotate(-5deg);
    font-size: 5rem;
}

.hero .hero-foot {
    height: 50px;
}

.hero .hero-foot nav {
    font-weight: 500;
    letter-spacing: 1px;
}

.hero .hero-foot .navbar-start.navbar-center {
    flex-grow: 1;
    justify-content: center;
}

.hero .hero-foot .navbar-item.is-active a {
    border-bottom: 2px solid #1d4a83;
}

.hero .hero-foot .navbar-item a {
    color: #1d4a83;
}

.hero .hero-foot .navbar-item a:hover {
    color: #1d4a83;
    transition: all .2s ease-in-out;
    border-bottom: 2px solid #1d4a83;
}

.has-text-orange {
    color: #f18a23;
}

.has-background-orange {
    background-color: #f18a23;
}

.has-background-blue {
    background-color: #1d4a83;
}

.has-img-shadow-orange img {
    box-shadow: 0 0 20px rgba(241, 138, 35, 0.5);
}

.has-shadow-black {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.has-radius-15 {
    border-radius: 15px;
}

.has-radius-15-top {
    border-radius: 15px 15px 0 0;
}

.has-iframe-radius-shadow-black iframe {
    border-radius: 15px;
    box-shadow: 0 0 20px #000000;
}

.has-vertically-aligned-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    letter-spacing: 5px;
    margin-bottom: 1rem;
}

.about-us .content {
    margin-bottom: 0px;
}

.about-us ul {
    margin-top: 8px;
}

.member .card {
    /*overflow: hidden;*/
    /*background: ghostwhite;*/
    /*color: black;*/
}

.footer {
    padding: 24px;
    background-color: hsl(0, 0%, 21%);
}

