// Begin About Us Section
section.section.about-us#about-us
    .container
        .columns
            .column
                h1.title.has-text-centered.section-title.is-size-2.has-text-orange 關於我們
        .columns.is-multiline
            .column.is-6.has-vertically-aligned-content
                p.is-size-5
                    strong
                        | Team 8169 是於 2020 年成立的一支新秀隊伍。共有 17 位成員及 1 位教練，由岡山高中和鳳山高中的學生組成。
                        | 我們舉辦多項活動致力於推廣 STEM 教育，擴大FRC社區。
                br
                p
                    | 8169 這組數字代表著我們是 FIRST Robotics Competition 比賽中第 8169 個註冊的隊伍。
                    | 成立於2020年，我們的前身是 Team 7741，後來由於人數變多就自己獨立註冊了一個隊伍，
                    | 其中 5 位成員來自國立鳳山高中，12 位成員來自國立岡山高中，
                    | 教練則是由岡山高中郭銘哲老師擔任，
                    | 我們是岡山高中的機器人競賽校隊，而非社團及補習班。
                br
                p.is-size-5
                    strong 獲獎事蹟
                    .content
                        ul
                            li 2019年 區域賽 冠軍 (7741 時期)
                            li 2020 年南科授旗模擬賽 第4名
                            li 2020 年台中科學園區 5G 數位區域賽 最佳自動獎 (Autonomous Award)
                            li 2020 年台中科學園區 5G 數位區域賽 第二名 (Finalist Award)
                            li 2021 年中科友誼賽 冠軍
            .column.is-6
                figure.image.is-3by2
                    img.is-rounded.has-shadow-orange(src='img/flag.jpg')
section.section.about-us.has-background-grey-lighter
    .container
        .columns
            .column
                h1.title.has-text-centered.section-title.is-size-2 團隊理念
        .columns.is-multiline
            .column.is-6.has-vertically-aligned-content
                p.is-size-3
                    strong.has-text-orange ＂教育不該照本宣科＂
                br
                p.is-size-4
                    | 「教育不該照本宣科」是我們團隊的理念，我們相信透過動手嘗試，修正錯誤才是最佳的學習方法。

            .column.is-6
                figure.image.is-16by9
                    iframe.has-radius-15.has-shadow-black(class="has-ratio" width="560" height="315" src="https://www.youtube.com/embed/yeQ-fVgm94k" frameborder="0" allowfullscreen)
// End About Us Section