// Begin About Us Section
#about-us.section-light.about-us
    .container
        .column.is-12.about-us
            h1.title.has-text-centered.section-title.is-size-2 關於我們
        .columns.is-multiline
            .column.is-6.has-vertically-aligned-content(data-aos='fade-right')
                p.is-size-5
                    strong
                        | Team 8169是於2020年成立的一支新秀隊伍。共有17位成員及1位教練，由岡山高中和鳳山高中的學生組成。
                        | 我們舉辦多項活動致力於推廣STEAM教育，擴大FRC社區。
                br
                p
                    | 8169 這組數字代表著我們是 FIRST Robotics Competition 比賽中第 8169 個註冊的隊伍。
                    | 成立於2020年，我們的前身是 Team 7741，後來由於人數變多就自己獨立註冊了一個隊伍，
                    | 其中5位成員來自國立鳳山高中，12位成員來自國立岡山高中，
                    | 教練則是由岡山高中郭銘哲老師擔任，
                    | 我們是岡山高中的機器人競賽校隊，而非社團及補習班。
                br
                p.is-size-4
                    strong
                        | 「教育不該照本宣科」
                br
                p.is-size-5
                    | 是我們團隊的理念，我們相信透過動手嘗試，修正錯誤才是最佳的學習方法。
            .column.is-6.right-image(data-aos='fade-left')
                //img.is-rounded(src='https://picsum.photos/id/366/600/375' alt='')
                img.is-rounded(src='img/about-us.jpg')
// End About Us Section