// Begin Contact Section
section.section.contact.has-background-cream#contact
    .container
        .columns
            .column
                h1.title.has-text-centered.section-title.is-size-2.mb-0 聯絡我們
        .columns.is-size-5.has-text-centered
            .column.is-6.has-vertically-aligned-content
                .content
                    p
                        i.fas.fa-phone
                        |  電話：
                        a(href="tel:076212033") (07)746-3150
                    p
                        i.fas.fa-envelope
                        |  E-mail：
                        a(href="mailto:ksshfrc8169@kssh.khc.edu.tw") ksshfrc8169@kssh.khc.edu.tw
                    p
                        i.fab.fa-instagram
                        |  Instagram：
                        a(href="https://www.instagram.com/frc_team8169/") @frc_team8169
                    p
                        i.fab.fa-facebook
                        |  Facebook：
                        a(href="https://www.facebook.com/FRC_team8169-116106759800867/") FRC_team8169
                    p
                        i.fab.fa-twitter
                        |  Twitter：
                        a(href="https://twitter.com/frc_team8169") @frc_team8169
                    p
                        i.fab.fa-github
                        |  GitHub：
                        a(href="https://github.com/Team8169TW") @Team8169TW
            .column.is-6
                p.mb-2
                    i.fas.fa-map-marker-alt
                    |  地址：
                    a(href="https://goo.gl/maps/9Dyjftryj7ZJwBvi7") 820 高雄市岡山區公園路52號
                figure
                    iframe.has-radius-15.has-shadow-black(width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3678.135490701994!2d120.28824201491499!3d22.797442885067536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e0c2e897f49b9%3A0x8cddc2fa373ff862!2z5ZyL56uL5bKh5bGx6auY57Sa5Lit5a24!5e0!3m2!1szh-TW!2stw!4v1628476308685!5m2!1szh-TW!2stw")
// End Contact Section