// Begin Daily Section
section.section.daily.has-background-grey-dark#daily
    .container
        .columns
            .column
                h1.title.has-text-centered.section-title.is-size-2.has-text-white 團隊日常
        .columns.is-multiline#dailyCard
// End Daily Section