// Begin Header
#home.header-wrapper
    // Begin Hero
    section.hero.is-large
        // Begin Hero Content
        .hero-body
            .container.has-text-centered
                h1.subtitle Hey there, We are
                h2.title FRC Team 8169
                h1.subtitle.profession Kangshan Super Steel Robot
        // End Hero Content
        // Begin Hero Menu
        .hero-foot
            .hero-foot--wrapper
                .columns
                    .column.is-12.hero-menu-desktop.has-text-centered
                        nav.navbar
                            .navbar-brand
                                .navbar-item.is-active
                                    a(href="index.html") Home
                                a.navbar-burger.burger(data-target="navbarMenu")
                                    span
                                    span
                                    span
                            .navbar-menu#navbarMenu
                                .navbar-start.navbar-center
                                    .navbar-item
                                        a(href='#about-me') 關於我們
                                    .navbar-item
                                        a(href='#services') 團隊成員
                                    .navbar-item
                                        a(href='#skills') STEAM 推廣
                                    .navbar-item
                                        a(href='#sponsor') 贊助夥伴
                                    .navbar-item
                                        a(href='#my-work') 工作日誌
                                    .navbar-item
                                        a(href='#open-source') 公開資料
                                    .navbar-item
                                        a(href='#contact') 聯絡我們
        // End Hero Menu
    // End Hero
// End Header