extends ../sub/layout

block body
    // Begin Main Content
    .main-content.pt-2.has-text-black
        include ../sub/about-us
        include ../sub/member
        include ../sub/sponsor
        include ../sub/activity
        //include ../sub/robot
        include ../sub/daily

        // End Contact Content
    // End Main Content