extends ../sub/layout

block body
    // Begin Main Content
    .main-content
        include ../sub/about-us

        //.section-dark.resume
            .container
                .columns.is-multiline(data-aos='fade-in' data-aos-easing='linear')
                    .column.is-12.about-me
                        h1.title.has-text-centered.section-title
                            | View My Resume
                    .column.is-10.has-text-centered.is-offset-1
                        h2.subtitle
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            | eiusmod tempor incididunt ut labore et doloremagna aliqua
                        form(action='example.docs')
                            button.button
                                | Download Resume&emsp;
                                i.fad.fa-download.fa-lg
        // Begin Services Content
        //#services.section-color.services
            .container
                .columns.is-multiline
                    .column.is-12.about-me(data-aos='fade-in' data-aos-easing='linear')
                        h1.title.has-text-centered.section-title Services
                        h2.subtitle
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            | eiusmod tempor incididunt ut labore et dolore magna aliqua
                        br
                    .columns.is-12
                        .column.is-4.has-text-centered(data-aos='fade-in' data-aos-easing='linear')
                            i.fad.fa-meteor.fa-3x
                            hr
                            h2
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                | do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        .column.is-4.has-text-centered(data-aos='fade-in' data-aos-easing='linear')
                            i.fas.fa-paint-brush.fa-3x
                            hr
                            h2
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                | do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        .column.is-4.has-text-centered(data-aos='fade-in' data-aos-easing='linear')
                            i.fas.fa-rocket.fa-3x
                            hr
                            h2
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                | do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    hr
                    .columns.is-12
                        .column.is-4.has-text-centered(data-aos='fade-in' data-aos-easing='linear')
                            i.fas.fa-upload.fa-3x
                            hr
                            h2
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                | do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        .column.is-4.has-text-centered(data-aos='fade-in' data-aos-easing='linear')
                            i.fas.fa-bus.fa-3x
                            hr
                            h2
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                | do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        .column.is-4.has-text-centered(data-aos='fade-in' data-aos-easing='linear')
                            i.fas.fa-code.fa-3x
                            hr
                            h2
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                | do eiusmod tempor incididunt ut labore et dolore magna aliqua
        // End Services Content
        // Begin Skills Content
        //#skills.section-light.skills
            .container
                .columns.is-multiline
                    .column.is-12.about-me
                        h1.title.has-text-centered.section-title Skills
                    .column.is-6(data-aos='fade-in' data-aos-easing='linear')
                        h1 Adobe Experience Design
                        progress.progress(value='70' max='100') 30%
                        h1 Adobe After Effects
                        progress.progress(value='65' max='100') 30%
                        h1 Visual Studio Code
                        progress.progress(value='58' max='100') 45%
                        h1 Sketch
                        progress.progress(value='90' max='100') 60%
                    .column.is-6(data-aos='fade-in' data-aos-easing='linear')
                        h1 HTML
                        progress.progress(value='85' max='100') 30%
                        h1 CSS
                        progress.progress(value='95' max='100') 30%
                        h1 VueJS
                        progress.progress(value='70' max='100') 45%
                        h1 React
                        progress.progress(value='60' max='100') 60%
        // End Skills Content
        // Begin Work Content
        //#my-work.section-dark.my-work
            .container
                .columns.is-multiline(data-aos='fade-in' data-aos-easing='linear')
                    .column.is-12
                        h1.title.has-text-centered.section-title My Work
                    .column.is-3
                        a(href='#')
                            figure.image.is-2by1.work-item(style="background-image: url('https://picsum.photos/320/180?image=0');")
                    .column.is-3
                        a(href='#')
                            figure.image.is-2by1.work-item(style="background-image: url('https://picsum.photos/320/180?image=10');")
                    .column.is-3
                        a(href='#')
                            figure.image.is-2by1.work-item(style="background-image: url('https://picsum.photos/320/180?image=20');")
                    .column.is-3
                        a(href='#')
                            figure.image.is-2by1.work-item(style="background-image: url('https://picsum.photos/320/180?image=30');")
                    .column.is-3
                        a(href='#')
                            figure.image.is-2by1.work-item(style="background-image: url('https://picsum.photos/320/180?image=40');")
                    .column.is-3
                        a(href='#')
                            figure.image.is-2by1.work-item(style="background-image: url('https://picsum.photos/320/180?image=50');")
                    .column.is-3
                        a(href='#')
                            figure.image.is-2by1.work-item(style="background-image: url('https://picsum.photos/320/180?image=60');")
                    .column.is-3
                        a(href='#')
                            figure.image.is-2by1.work-item(style="background-image: url('https://picsum.photos/320/180?image=70');")
        // End Work Content
        // Begin Contact Content
        //#contact.section-light.contact
            .container
                .columns.is-multiline(data-aos='fade-in-up' data-aos-easing='linear')
                    .column.is-12.about-me
                        h1.title.has-text-centered.section-title
                            | Get in touch
                    .column.is-8.is-offset-2
                        form(action='https://formspree.io/email@example.com' method='POST')
                            .field
                                label.label Name
                                .control.has-icons-left
                                    input.input(type='text' placeholder='Ex. Jane Smith' name='Name')
                                    span.icon.is-small.is-left
                                        i.fas.fa-user
                            .field
                                label.label Email
                                .control.has-icons-left
                                    input.input(type='email' placeholder='Ex. hello@arctheme.com' name='Email')
                                    span.icon.is-small.is-left
                                        i.fas.fa-envelope
                            .field
                                label.label Message
                                .control
                                    textarea.textarea(placeholder='Textarea' name='Message')
                            .field
                                .control
                                    button.button.submit-button
                                        | Submit&nbsp;&nbsp;
                                        i.fas.fa-paper-plane
        // End Contact Content
    // End Main Content