-
    var groups = [
        {
            title: "機構組",
            subtitle: "組長：何泓逸",
            photo: "img/group/mechanism.jpg",
            icon: "fas fa-cogs",
            description: "各種機構相關...",
        },
        {
            title: "繪圖組",
            subtitle: "組長：陳翊嘉",
            photo: "img/group/CAD.jpg",
            icon: "fas fa-drafting-compass",
            description: "CAD繪圖、動態模擬",
        },
        {
            title: "電控程式組",
            subtitle: "組長：蕭澧邦",
            photo: "img/group/electrical.jpg",
            icon: "fas fa-bolt",
            description: "各種電機相關...",
        },
        {
            title: "氣壓組",
            subtitle: "組長：黃翔毅",
            photo: "img/group/Pneumatics.jpg",
            icon: "fas fa-rocket-launch",
            description: "符合規定配置氣壓系統，確保管路順暢避免造成危害",
        },
        {
            title: "公關組",
            subtitle: "組長：黃歆淩",
            photo: "img/group/PR2.jpg",
            icon: "fas fa-handshake",
            description: "各種公關相關...",
        },
        {
            title: "Driver Team",
            subtitle: "",
            photo: "img/group/driver_team3.jpg",
            icon: "fas fa-gamepad",
            description: "各種駕駛相關...",
        },
    ];

    var mentors = [
        {
            name: "郭銘哲",
            school: "KSSH",
            join: "2019.01.",
            photo: "img/mentor/MJK.jpg",
            tags: [
            
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:jpowerkuo@gmail.com",
                },
                {
                    icon: "fas fa-phone",
                    link: "tel:0936653772",
                },
            ],
        },
        {
            name: "謝蓉",
            school: "KSHS",
            join: "2022.09.",
            photo: "img/mentor/RX.jpg",
            tags: [
            
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:gmchick46@gmail.com",
                },
            ],
        },
        {
            name: "張庭禎",
            school: "KSSH",
            join: "2022.09.",
            photo: "img/mentor/TZZ.jpg",
            tags: [
            
            ],
            links:[
            ],
        },
        {
            name: "程品奕",
            school: "NCKU",
            join: "2022.06.",
            photo: "img/mentor/PYC.jpg",
            tags: [

            ],
            links: [
                {
                    icon:"fab fa-facebook",
                    link:"https://www.facebook.com/profile.php?id=100009817681140",
                }
            ],
        },
        {
            name: "范嘉軒",
            school: "NCKU",
            join: "2022.06.",
            photo: "img/mentor/JXF.jpg",
            tags: [

            ],
            links: [],
        },

        {
            name: "林柏瀚",
            school: "FCU",
            join: "2019.12.",
            photo: "img/mentor/BHL.jpg",
            tags: [
            
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:d1108984@o365.fcu.edu.tw",
                },
            ],
        },
        {
            name: "王庭豐",
            school: "CCU",
            join: "2019.10.",
            photo: "img/mentor/TFW.jpg",
            tags: [

            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:wayne6214361@gmail.com",
                },
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/wang92111600/",
                },
            ],
        },
        {
            name: "陳思惟",
            school: "NCU",
            join: "2020.07.",
            photo: "img/mentor/SWC.jpg",
            tags: [

            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:swchen1217@gmail.com",
                },
                {
                    icon: "fab fa-github",
                    link: "https://github.com/swchen1217",
                },
            ],
        },
        {
            name: "楊泓益",
            school: "TKU",
            join: "2019.12.",
            photo: "img/mentor/HYY.jpg",
            tags: [

            ],
            links: [],
        },

    ];

    var members = [
        {
            name: "何泓逸",
            school: "KSSH",
            join: "2021.09.",
            photo: "img/member/HYH.jpeg",
            tags: [
                "隊長",
                "繪圖組",
                ["機構組","組長"],
                "電控程式組",
                "Driver Team",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:hungibob@gmail.com",
                },
            ],
        },
        {
            name: "陳翊嘉",
            school: "KSHS",
            join: "2021.09.",
            photo: "img/member/YJC.jpg",
            tags: [
                "副隊長",
                ["繪圖組","組長"],
                "機構組",
            ],
            links: [
                {
                    icon: "fab fa-facebook",
                    link: "https://www.facebook.com/profile.php?id=100007995311195",
                },
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/yijia6608/",
                },
                
            ],
        },
        {
            name: "郭均睿",
            school: "KSSH",
            join: "2020.09.",
            photo: "img/member/JRK.jpg",
            tags: [
                "機構組",
                ["繪圖組","副組長"],
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:guo64520@gmail.com",
                },
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/guo_910190/",
                },
            ],
        },
        {
            name: "吳佾棋",
            school: "KSSH",
            join: "2022.09.",
            photo: "img/member/ICW.jpg",
            tags: [
                ["機構組","副組長"],
                "氣壓組",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:andrew865353@gmail.com",
                },
            ],
        },
        {
            name: "蕭澧邦",
            school: "KSHS",
            join: "2022.04.",
            photo: "img/flag.jpg",
            tags: [
                ["電控程式組","組長"],
                "公關組",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:shou692199@gmail.com",
                },
            ],
        },
        {
            name: "盧佑璿",
            school: "KSSH",
            join: "2022.09.",
            photo: "img/member/YXL.jpg",
            tags: [
                "機構組",
                ["電控程式組","副組長"],
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "daniel0901100696@gmail.com",
                },
            ],
        },
        {
            name: "黃翔毅",
            school: "KSSH",
            join: "2022.09.",
            photo: "img/member/XYH.jpg",
            tags: [
                "機構組",
                ["氣壓組","組長"],
            ],
            links: [
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/xiaoxiang_9_28/",
                },
                {
                    icon: "fab fa-facebook",
                    link: "https://www.facebook.com/profile.php?id=100027118935607",
                },
            ],
        },
        {
            name: "薛丞恩",
            school: "KSSH",
            join: "2022.09.",
            photo: "img/member/CES.jpg",
            tags: [
                "機構組",
                ["氣壓組","副組長"],
            ],
            links: [
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/xue_04_07/",
                },
                {
                    icon: "fab fa-facebook",
                    link: "https://www.facebook.com/profile.php?id=100022460112021",
                },
            ],
        },
        {
            name: "黃歆淩",
            school: "KGHS",
            join: "2022.09.",
            photo: "img/member/SLH.jpg",
            tags: [
                "電控程式組",
                ["公關組","組長"],
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:sinlingh@gmail.com",
                },
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/i2trc2._.sl/",
                },
                {
                    icon: "fab fa-facebook",
                    link: "https://www.facebook.com/sinling.huang.98",
                },
            ],
        },
        {
            name: "張羽沛",
            school: "KSSH",
            join: "2020.07.",
            photo: "img/member/YPC.jpg",
            tags: [
                "公關組",
                "攝影",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:stu910043@kssh.khc.edu.tw",
                },
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/yu_pai_/",
                },
            ],
        },
        {
            name: "黃偉鴻",
            school: "KSHS",
            join: "2022.09.",
            photo: "img/member/WHH.jpg",
            tags: [
                "繪圖組", 
                "公關組",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:84974881wesley@gmail.com",
                },
                {
                    icon: "fab fa-facebook",
                    link: "https://www.facebook.com/profile.php?id=100035113096828",
                },
                {
                    icon: "fab fa-line",
                    link: "https://line.me/ti/p/e3giTOTfRN",
                },
            ],
        },
        {
            name: "廖少亦",
            school: "KSHS",
            join: "2022.09.",
            photo: "img/member/SYL.jpg",
            tags: [
                "機構組",
                "電控程式組",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:0903eason@gmail.com",
                },
            ],
        },
        {
            name: "李畇頻",
            school: "KGHS",
            join: "2021.09.",
            photo: "img/member/YPL.jpg",
            tags: [
                "機構組",
                "公關組",
            ],
            links: [

            ],
        },
        {
            name: "郭庭妤",
            school: "KGHS/New Iberia Senior High",
            join: "2022.02.",
            photo: "img/member/TYK.jpg",
            tags: [
                "公關組",
                "翻譯",
            ],
            links: [

            ],
        },
        //- {
        //-     name: "林子策",
        //-     school: "KSSH",
        //-     join: "2022.09.",
        //-     photo: "img/member/ZCL.jpg",
        //-     tags: [
        //-         "機構組",
        //-     ],
        //-     links: [

        //-     ],
        //- },
        {
            name: "林卓璿",
            school: "KSSH",
            join: "2022.09.",
            photo: "img/member/JSL.jpg",
            tags: [
                "機構組",
            ],
            links: [

            ],
        },
        {
            name: "李翔宇",
            school: "KSSH",
            join: "2022.09.",
            photo: "img/member/XYL.jpg",
            tags: [
                "機構組",
                "氣壓組",
            ],
            links: [
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/xiangyu0010/",
                },
            ],
        },
        {
            name: "莊凱茹",
            school: "KSSH",
            join: "2022.09.",
            photo: "img/member/KRZ.jpg",
            tags: [
                "機構組",
                "公關組",
            ],
            links: [],
        },
        {
            name: "蘇文奕",
            school: "KSSH",
            join: "2022.09.",
            photo: "img/member/WYS.jpg",
            tags: [
                "繪圖組",
                "機構組",
            ],
            links: [
                {
                    icon: "fab fa-facebook",
                    link: "https://www.facebook.com/profile.php?id=100022988795914",
                },
            ],
        },
        {
            name: "林千卉",
            school: "KSSH",
            join: "2022.09.",
            photo: "img/member/CHL.jpg",
            tags: [
                "機構組",
                "電控程式組",
            ],
            links: [

            ],
        },
        {
            name: "楊宇修 ",
            school: "KSSH",
            join: "2022.09.",
            photo: "img/member/YXY.jpg",
            tags: [
                "機構組",
                "電控程式組",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:yuxiuy15@gmail.com",
                },
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/yuxiu9605/",
                },
                {
                    icon: "fab fa-line",
                    link: "https://line.me/ti/p/I91r6_KH0V",
                },
            ],
        },     
    ];

    var member_tag_colors = {
        "機構組": "is-primary",
        "繪圖組": "is-success",
        "電控程式組": "is-danger",
        "氣壓組": "is-warning",
        "公關組": "is-link",
        "Driver Team": "is-orange",
        "隊長": "is-dark",
        "副隊長": "is-dark",
        "機構": "is-primary",
        "教練": "is-blue",
        "總務": "is-info",
        "攝影": "is-info",
        "翻譯": "is-info",
    }

    var sponsors = [
        {
            name: "西門子股份有限公司",
            logo: "img/sponsor/SIEMENS.png",
        },
        {
            name: "凱德科技股份有限公司",
            logo: "img/sponsor/CADEX.png",
        },
        {
            name: "有益鋼鐵股份有限公司",
            logo: "img/sponsor/YYS.png",
        },
        {
            name: "佐茂股份有限公司",
            logo: "img/sponsor/JMS.png",
        },
        {
            name: "億昇泓實業有限公司",
            logo: "img/sponsor/YSH.jpg",
        },
        {
            name: "丞曜實業有限公司",
            logo: "img/sponsor/CY.jpg",
        },
        {
            name: "彤駿企業有限公司",
            logo: "img/sponsor/TG.jpg",
        },
        {
            name: "至宏螺絲有限公司",
            logo: "img/sponsor/ZH.jpg",
        },
    ];

    // .jpg
    var activities = [
        {
            year: 2020
        },
        {
            month: "November",
            name: "科學園區台中5G數位區域賽",
            description: "",
            dir: "2020-5G",
        },
        {
            month: "December",
            name: "平野祭 機器人體驗活動",
            description: "",
            dir: "2020-Picnic",
        },
        {
            year: 2021
        },
        {
            month: "February",
            name: "中科AI自造基地 六校邀請賽",
            description: "",
            dir: "2021-Invitational",
        },
        {
            month: "April",
            name: "科學工藝博物館 機器人體驗活動",
            description: "",
            dir: "2021-NSTM",
        },
        {
            month: "April",
            name: "南科FRC模擬賽",
            description: "",
            dir: "2021-Simulation",
        },
        {
            year: 2022
        },
        {
            month: "March",
            name: "New Taipei City X HonHai Regional",
            description: "",
            dir: "2022-New Taipei City X HonHai Regional",
        },
    ];

    var openDatas = [
        /*{
            date: "2021-08-19",
            name: "2020收支紀錄表",
            description: "",
            link: [
                {
                    text: "2020收支紀錄表",
                    url: "#",
                },
                {
                    text: "2021收支紀錄表",
                    url: "#",
                },
            ],
        },*/
    ];