-
    var groups = [
        {
            title: "繪圖組",
            subtitle: "組長：薛丞恩",
            photo: "img/group/CAD.jpg",
            icon: "fas fa-drafting-compass",
            description: "CAD繪圖、動態模擬",
        },
        {
            title: "機構組",
            subtitle: "組長：何泓逸",
            photo: "img/group/mechanism.jpg",
            icon: "fas fa-cogs",
            description: "各種機構相關...",
        },
        {
            title: "電控程式組",
            subtitle: "組長：楊宇修",
            photo: "img/group/electrical.jpg",
            icon: "fas fa-bolt",
            description: "各種電機相關...",
        },
        {
            title: "公關組",
            subtitle: "組長：薛丞恩",
            photo: "img/group/PR2.jpg",
            icon: "fas fa-handshake",
            description: "各種公關相關...",
        },
        {
            title: "Driver Team",
            subtitle: "",
            photo: "img/group/driver_team3.jpg",
            icon: "fas fa-gamepad",
            description: "各種駕駛相關...",
        },
    ];

    var mentors = [
        {
            name: "郭銘哲",
            school: "KSSH",
            join: "2019.01.",
            photo: "img/mentor/MJK.jpg",
            tags: [],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:jpowerkuo@gmail.com",
                },
                {
                    icon: "fas fa-phone",
                    link: "tel:0936653772",
                },
            ],
        },
        {
            name: "張庭禎",
            school: "KSSH",
            join: "2022.09.",
            photo: "img/mentor/TZZ.jpg",
            tags: [],
            links: [],
        },
        {
            name: "程品奕",
            school: "NCKU",
            join: "2022.06.",
            photo: "img/mentor/PYC.jpg",
            tags: [],
            links: [
                {
                    icon: "fab fa-facebook",
                    link: "https://www.facebook.com/profile.php?id=100009817681140",
                }
            ],
        },
        {
            name: "范嘉軒",
            school: "NCKU",
            join: "2022.06.",
            photo: "img/mentor/JXF.jpg",
            tags: [],
            links: [],
        },

        {
            name: "林柏瀚",
            school: "FCU",
            join: "2019.12.",
            photo: "img/mentor/BHL.jpg",
            tags: [],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:d1108984@o365.fcu.edu.tw",
                },
            ],
        },
        {
            name: "王庭豐",
            school: "CCU",
            join: "2019.10.",
            photo: "img/mentor/TFW.jpg",
            tags: [],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:wayne6214361@gmail.com",
                },
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/wang92111600/",
                },
            ],
        },
        {
            name: "陳思惟",
            school: "NCU",
            join: "2020.07.",
            photo: "img/mentor/SWC.jpg",
            tags: [],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:swchen1217@gmail.com",
                },
                {
                    icon: "fab fa-github",
                    link: "https://github.com/swchen1217",
                },
            ],
        },
        {
            name: "楊泓益",
            school: "TKU",
            join: "2019.12.",
            photo: "img/mentor/HYY.jpg",
            tags: [],
            links: [],
        },

    ];

    var members = [
        {
            name: "何泓逸",
            school: "KSSH",
            join: "2021.09.",
            photo: "img/member/HYH.jpeg",
            tags: [
                "隊長",
                "繪圖組",
                ["機構組", "組長"],
                "電控程式組",
                "Driver Team",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:hungibob@gmail.com",
                },
            ],
        },
        {
            name: "薛丞恩",
            school: "KSSH",
            join: "2022.09.",
            photo: "img/member/CES.jpg",
            tags: [
                "副隊長",
                ["繪圖組", "組長"],
                "機構組",
                ["公關組", "組長"],
                "Driver Team",
            ],
            links: [
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/xue_04_07/",
                },
                {
                    icon: "fab fa-facebook",
                    link: "https://www.facebook.com/profile.php?id=100022460112021",
                },
            ],
        },
        {
            name: "黃翔毅",
            school: "KSSH",
            join: "2022.09.",
            photo: "img/member/XYH.jpg",
            tags: [
                "副隊長",
                "機構組",
                "電控程式組",
                "Driver Team",
            ],
            links: [
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/xiaoxiang_9_28/",
                },
                {
                    icon: "fab fa-facebook",
                    link: "https://www.facebook.com/profile.php?id=100027118935607",
                },
            ],
        },
        {
         name: "楊宇修 ",
            school: "KSSH",
            join: "2022.09.",
            photo: "img/member/YXY.jpeg",
            tags: [
                "副隊長",
                ["電控程式組", "組長"],
            ],
            links: [
                {
                    icon: "fab fa-facebook",
                    link: "https://www.facebook.com/profile.php?id=100027820981270",
                },
                {
                    icon: "fab fa-line",
                    link: "https://line.me/ti/p/I91r6_KH0V",
                },
            ],
        },
        {
            name: "郭庭妤",
            school: "KGHS",
            join: "2022.02.",
            photo: "img/member/TYK.jpg",
            tags: [
                "公關組",
                //"翻譯",
            ],
            links: [],
        },
        {
            name: "黃昱銘",
            school: "KSSH",
            join: "2023.04.",
            photo: "img/member/YMH.jpg",
            tags: [
                "機構組",
            ],
            links: [
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/0408._.corny?igsh=MXhwNHNyd3FnM3gxNA==",
                },
            ],
        },
        {
            name: "李欣瞳",
            school: "KSSH",
            join: "2023.09.",
            photo: "img/member/XTL.jpg",
            tags: [
                "公關組",
                "攝影",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:hsintung20061217@gmail.com",
                },
            ],
        },
        {
            name: "洪將暐",
            school: "KSSH",
            join: "2023.09.",
            photo: "img/member/JWH.jpeg",
            tags: [
                "機構組",
                "公關組",
            ],
            links: [
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/hung_9672?igsh=M21oN2ZqbGpzanBs",
                },
            ],
        },
        {
            name: "陳宥任",
            school: "CCVS",
            join: "2023.04.",
            photo: "img/member/YRC.jpeg",
            tags: [
                "繪圖組",
                "機構組",
                "電控程式組"
            ],
            links: [
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/eric_03._.27?igsh=N3d5dWw1dDlxemZm&utm_source=qr",
                },
            ],
        },
        {
            name: "張鈞翔",
            school: "KSSH",
            join: "2023.09.",
            photo: "img/member/JXZ.jpeg",
            tags: [
                "機構組",
                "電控程式組",
            ],
            links: [
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/bruce12.02?igsh=cjY1b2d4b3FsMWUx",
                },
            ],
        },
        {
            name: "莊卓諺",
            school: "KSSH",
            join: "2023.09.",
            photo: "img/member/ZYZ.jpeg",
            tags: [
                "繪圖組",
                "機構組",
            ],
            links: [
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/ccy_031?igsh=MWdsc3h3d214ODA0Mw%3D%3D&utm_source=qr",
                },
            ],
        },
        {
            name: "紀維恩",
            school: "KSSH",
            join: "2023.09.",
            photo: "img/member/WNG.jpg",
            tags: [
                "機構組",
                "電控程式組",
            ],
            links: [
                {
                    icon: "fab fa-facebook",
                    link: "https://www.facebook.com/profile.php?id=100042664725085",
                },
            ],
        },
        {
            name: "蘇裕程",
            school: "KSSH",
            join: "2023.09.",
            photo: "img/member/YCS.jpg",
            tags: [
                "機構組",
                "電控程式組"
            ],
            links: [
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/colinsu6?igsh=MXQ3eGVteGY2Y2Vmeg==",
                },
                {
                    icon: "fab fa-line",
                    link: "https://line.me/ti/p/TsQp9D7wzW",
                },
            ],
        },
        {
            name: "洪瑞成",
            school: "KSSH",
            join: "2023.09.",
            photo: "img/member/RCH.jpg",
            tags: [
                "機構組",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:vvv970126@gmail.com",
                },
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/0126._.0126?igsh=dWxhNjhybDB1c2U3",
                },
                {
                    icon: "fab fa-facebook",
                    link: "https://www.facebook.com/profile.php?id=100090470559395",
                },
            ],
        },
        {
            name: "曾文鴻",
            school: "KSSH",
            join: "2023.09.",
            photo: "img/member/WHZ.jpeg",
            tags: [
                "機構組",
            ],
            links: [
            ],
        },
    ];

    var member_tag_colors = {
        "機構組": "is-primary",
        "繪圖組": "is-success",
        "電控程式組": "is-danger",
        "氣壓組": "is-warning",
        "公關組": "is-link",
        "Driver Team": "is-orange",
        "隊長": "is-dark",
        "副隊長": "is-dark",
        "機構": "is-primary",
        "教練": "is-blue",
        "總務": "is-info",
        "攝影": "is-info",
        "翻譯": "is-info",
    }

    var sponsors = [
        {
            name: "西門子股份有限公司",
            logo: "img/sponsor/SIEMENS.png",
        },
        {
            name: "凱德科技股份有限公司",
            logo: "img/sponsor/CADEX.png",
        },
        {
            name: "永晟綠能股份有限公司",
            logo: "img/sponsor/YC.png",
        },
        {
            name: "有益鋼鐵股份有限公司",
            logo: "img/sponsor/YYS.png",
        },
        {
            name: "佐茂股份有限公司",
            logo: "img/sponsor/JMS.png",
        },
        {
            name: "億昇泓實業有限公司",
            logo: "img/sponsor/YSH.jpg",
        },
        {
            name: "丞曜實業有限公司",
            logo: "img/sponsor/CY.jpg",
        },
        {
            name: "彤駿企業有限公司",
            logo: "img/sponsor/TG.jpg",
        },
        {
            name: "至宏螺絲有限公司",
            logo: "img/sponsor/ZH.jpg",
        },
        {
            name: "igus® 易格斯",
            logo: "img/sponsor/igus.jpg",
        },
    ];

    var activities = [
        //- .jpg file only
        {
            year: 2020
        },
        {
            month: "November",
            name: "科學園區台中5G數位區域賽",
            description: "",
            dir: "2020-5G",
        },
        {
            month: "December",
            name: "平野祭 機器人體驗活動",
            description: "",
            dir: "2020-Picnic",
        },
        {
            year: 2021
        },
        {
            month: "February",
            name: "中科AI自造基地 六校邀請賽",
            description: "",
            dir: "2021-Invitational",
        },
        {
            month: "April",
            name: "科學工藝博物館 機器人體驗活動",
            description: "",
            dir: "2021-NSTM",
        },
        {
            month: "April",
            name: "南科FRC模擬賽",
            description: "",
            dir: "2021-Simulation",
        },
        {
            year: 2022
        },
        {
            month: "March",
            name: "New Taipei City X HonHai Regional",
            description: "",
            dir: "2022-New Taipei City X HonHai Regional",
        },
        {
            year: 2023
        },
        {
            month: "March",
            name: "San Francisco Regional",
            description: "",
            dir: "2023-San Francisco Regional",
        },
        {
            month: "July",
            name: "Taiwan Playoff",
            description: "",
            dir: "2023-Taiwan Playoff",
        },
    ];

    var openDatas = [
        /*{
            date: "2021-08-19",
            name: "2020收支紀錄表",
            description: "",
            link: [
                {
                    text: "2020收支紀錄表",
                    url: "#",
                },
                {
                    text: "2021收支紀錄表",
                    url: "#",
                },
            ],
        },*/
    ];