-
    var groups = [
        {
            title: "機構組",
            subtitle: "組長：楊泓益",
            photo: "img/group/mechanism2.jpg",
            icon: "fas fa-cogs",
            description: "各種機構相關...",
        },
        {
            title: "繪圖組",
            subtitle: "組長：林柏瀚",
            photo: "img/group/CAD.jpg",
            icon: "fas fa-drafting-compass",
            description: "CAD繪圖、動態模擬",
        },
        {
            title: "電機組",
            subtitle: "組長：陳思惟",
            photo: "img/group/electrical2.jpg",
            icon: "fas fa-bolt",
            description: "各種電機相關...",
        },
        {
            title: "程式組",
            subtitle: "組長：黃晨恩",
            photo: "img/group/program.jpg",
            icon: "fas fa-code",
            description: "各種程式相關...",
        },
        {
            title: "公關組",
            subtitle: "組長：黃峻輊",
            photo: "img/group/PR.jpg",
            icon: "fas fa-handshake",
            description: "各種公關相關...",
        },
        {
            title: "Driver Team",
            subtitle: "",
            photo: "img/group/driver_team2.jpg",
            icon: "fas fa-gamepad",
            description: "各種駕駛相關...",
        },
    ];

    var members = [
        {
            name: "郭銘哲",
            school: "岡山高中",
            join: "2019.01.",
            photo: "img/member/MJK.jpg",
            tags: [
                "教練",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:jpowerkuo@gmail.com",
                },
                {
                    icon: "fas fa-phone",
                    link: "tel:0936653772",
                },
            ],
        },
        {
            name: "林柏瀚",
            school: "鳳山高中",
            join: "2019.12.",
            photo: "img/member/BHL.png",
            tags: [
                "隊長",
                ["繪圖組", "組長"],
                "Driver Team",
                ["機構", "Intake"],
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:kodori209@gmail.com",
                },
            ],
        },
        {
            name: "王庭豐",
            school: "岡山高中",
            join: "2019.10.",
            photo: "img/member/TFW.jpg",
            tags: [
                "副隊長",
                "電機組",
                "程式組",
                "Driver Team",
                ["機構", "Storage"],

            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:wayne6214361@gmail.com",
                },
            ],
        },
        {
            name: "陳思惟",
            school: "鳳山高中",
            join: "2020.07.",
            photo: "img/member/SWC.jpg",
            tags: [
                ["電機組", "組長"],
                "程式組",
                "Driver Team",
                ["機構", "Climber"],
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:swchen1217@gmail.com",
                },
                {
                    icon: "fab fa-github",
                    link: "https://github.com/swchen1217",
                },
            ],
        },
        {
            name: "楊泓益",
            school: "岡山高中",
            join: "Unknown",
            photo: "img/member/YHY.jpg",
            tags: [
                ["機構組", "組長"],
                "繪圖組",
                "Driver Team",
                ["機構", "Shooter"],
            ],
            links: [],
        },
        {
            name: "黃峻輊",
            school: "鳳山高中",
            join: "Unknown",
            photo: "img/member/HJZ.jpg",
            tags: [
                ["公關組", "組長"],
                "機構組",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:kssh8169@gmail.com",
                },
            ],
        },
        {
            name: "黃晨恩",
            school: "鳳山高中",
            join: "Unknown",
            photo: "img/member/HCE.jpg",
            tags: [
                ["程式組", "組長"],
                "電機組",
                "Driver Team",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:weli30201220@gmail.com",
                },
            ],
        },
        {
            name: "盧家婕",
            school: "岡山高中",
            join: "2019.10.",
            photo: "img/member/JJL.jpg",
            tags: [
                "機構組",
                "公關組",
                "總務",
                "攝影",
                ["機構", "Bumper"],
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:stu810010@kssh.khc.edu.tw",
                },
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/jj_lu2003/",
                },
            ],
        },
        {
            name: "謝宇堯",
            school: "岡山高中",
            join: "2020.11.",
            photo: "img/member/YYH.jpg",
            tags: [
                "機構組",
                "繪圖組",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:stu810460@kssh.khc.edu.tw",
                },
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/hsieh.angus/",
                },
            ],
        },
        {
            name: "郭均睿",
            school: "岡山高中",
            join: "2020.09.",
            photo: "img/member/JRK.jpg",
            tags: [
                "機構組",
                "繪圖組",
                ["機構", "Lollipop"],
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:guo64520@gmail.com",
                },
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/guo_910190/",
                },
            ],
        },
        {
            name: "莊子諄",
            school: "岡山高中",
            join: "2020.09.",
            photo: "img/member/ZJJ.jpg",
            tags: [
                "繪圖組",
                "公關組",
                "機構組",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:diabolojoyce@gmail.com",
                },
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/ttcjan_/",
                },
            ],
        },
        {
            name: "張羽沛",
            school: "岡山高中",
            join: "2020.07.",
            photo: "img/member/YPC.jpg",
            tags: [
                "程式組",
                "公關組",
                "攝影",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:stu910043@kssh.khc.edu.tw",
                },
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/yu_pai_/",
                },
            ],
        },
        {
            name: "何泓逸",
            school: "岡山高中",
            join: "2021.09.",
            photo: "img/member/HHY.jpeg",
            tags: [
                "電機組",
                "程式組",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:hungibob@gmail.com",
                },
            ],
        },
        {
            name: "吳珮霓",
            school: "岡山高中",
            join: "2021.09.",
            photo: "img/member/WPN.jpg",
            tags: [
                // "機構組",
                "繪圖組",
                "公關組",
                "攝影",
            ],
            links: [
                {
                    icon: "fas fa-envelope",
                    link: "mailto:penny950213@gmail.com ",
                },
                {
                    icon: "fab fa-instagram",
                    link: "https://www.instagram.com/pny.213/",
                },
            ],
        },
        {
            name: "郭庭妤",
            school: "高雄女中",
            join: "2022.02.",
            photo: "img/member/KTY.jpg",
            tags: [
                "公關組",
                "翻譯",
            ],
            links: [],
        },
    ];

    var member_tag_colors = {
        "機構組": "is-primary",
        "繪圖組": "is-success",
        "電機組": "is-danger",
        "程式組": "is-warning",
        "公關組": "is-link",
        "Driver Team": "is-orange",
        "隊長": "is-dark",
        "副隊長": "is-dark",
        "機構": "is-primary",
        "教練": "is-blue",
        "總務": "is-info",
        "攝影": "is-info",
        "翻譯": "is-info",
    }

    var sponsors = [
        {
            name: "西門子股份有限公司",
            logo: "img/sponsor/SIEMENS.png",
        },
        {
            name: "凱德科技股份有限公司",
            logo: "img/sponsor/CADEX.png",
        },
        {
            name: "有益鋼鐵股份有限公司",
            logo: "img/sponsor/YYS.png",
        },
        {
            name: "佐茂股份有限公司",
            logo: "img/sponsor/JMS.png",
        },
        {
            name: "大林企業",
            logo: "",
        },
    ];

    // .jpg
    var activities = [
        {
            year: 2020
        },
        {
            month: "November",
            name: "科學園區台中5G數位區域賽",
            description: "",
            dir: "2020-5G",
        },
        {
            month: "December",
            name: "平野祭 機器人體驗活動",
            description: "",
            dir: "2020-Picnic",
        },
        {
            year: 2021
        },
        {
            month: "February",
            name: "中科AI自造基地 六校邀請賽",
            description: "",
            dir: "2021-Invitational",
        },
        {
            month: "April",
            name: "科學工藝博物館 機器人體驗活動",
            description: "",
            dir: "2021-NSTM",
        },
        {
            month: "April",
            name: "南科FRC模擬賽",
            description: "",
            dir: "2021-Simulation",
        },
    ];

    var openDatas = [
        /*{
            date: "2021-08-19",
            name: "2020收支紀錄表",
            description: "",
            link: [
                {
                    text: "2020收支紀錄表",
                    url: "#",
                },
                {
                    text: "2021收支紀錄表",
                    url: "#",
                },
            ],
        },*/
    ];